*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;

  overflow-x: hidden;
}

.superslider-wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10000;

    &:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

/**
theme templates

.theme-name
{
	&.rangeslider-horizontal {
	   .rangeslider__fill {
	   }
	   .rangeslider__handle {
			&:active{
			}
	   }
	}

	&.rangeslider-vertical {
	   .rangeslider__fill {
	   }
	   .rangeslider__handle {
		   &:active {
		   }
	   }
	}
}
*/

/**
 * Rangeslider
 */
.rangeslider {
  position: relative;

  &.rangeslider-horizontal {
  }
  &.rangeslider-vertical {
    height: 100%;
    min-height: 60px;
  }
  .rangeslider__fill, .rangeslider__handle {
  	position: absolute;
  }

  &, .rangeslider__fill {
  	display: block;
  	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .rangeslider__handle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    &:active {
    }
  }
}

.default
{
  &.rangeslider-horizontal
  {
    height: 20px;
    border-radius: 10px;
    .rangeslider__fill {
      height: 100%;
      background: #27ae60;
      border-radius: 10px;
      top: 0;
    }

    .rangeslider__handle {
      background: #eee;
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      top: -10px;
      &:active {
      }
    }
  }

  &.rangeslider-vertical
  {
    margin: 0px auto;
    width: 10px;
    background: none;
    .rangeslider__fill {
      width: 100%;
      background: #27ae60;
      box-shadow: none;
      bottom: 0;
    }

    .rangeslider__handle {
      background: #eee;
      border: 1px solid #ccc;
      width: 30px;
      height: 10px;
      left: -10px;
      &:active {
          box-shadow: none;
      }
    }
  }
}

.metal-slider-1
{
    &:before {
        content: '';
        top: 3px;
        left: 3px;
        bottom: 3px;
        right: 3px;
        position: absolute;
        border-radius: 8px;
        border: 1px solid #414042;
        background: transparent;
        z-index: 1;
    }
  &.rangeslider-horizontal
  {
    margin: 5px 0;

    height: 18px;
    border-radius: 10px;
    background-color: #bdbdbd;
    box-shadow: inset 0 1px 2px 0 #757575, inset 0 -1px 2px #e0e0e0;

    .rangeslider__fill {
        background: linear-gradient(to top, #a4a8da 0%,#2648a2 100%);
        border-radius: 10px;

        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
    }

    .rangeslider__handle {
      width: 22px;
      height: 24px;
      background: url(./images/slider1-thumb.png) no-repeat;
      background-size: cover;
      top: -3px;
      z-index: 2;
      &:active {
      }
    }
  }

  &.rangeslider-vertical
  {
    margin: 0 4px;
    width: 18px;
    border-radius: 10px;
    background-color: #bdbdbd;

    .rangeslider__fill {
        background: linear-gradient(to top, #a4a8da 0%,#2648a2 100%);
        border-radius: 10px;

        height: 100%;
        bottom: 3px;
        left: 3px;
        right: 3px;
    }

    .rangeslider__handle {
      width: 22px;
      height: 24px;
      background: url(./images/slider1-thumb.png) no-repeat;
      background-size: cover;
      border: none;
      z-index: 2;

      left: -2px;

      &:active {
      }
    }
  }
}

.metal-slider-2
{
  &.rangeslider-horizontal {
    margin: 5px 0;
    height: 10px;

    background-color: #616161;
    border-radius: 4px;

    .rangeslider__fill {
        // background: linear-gradient(to top, #3abfd5 0%,#ace8f1 100%);
        background: linear-gradient(to bottom, #48def9 0%,#38b2c7 48%,#a4f2fe 50%,#38b2c7 52%,#38b2c7 100%);
        border-radius: 4px;
        height: 100%;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      top: -5px;

      &:active{
      }
    }
  }
  &.rangeslider-vertical {
    margin: 0 4px;
    width: 10px;
    background: none;

    background-color: #616161;
    border-radius: 4px;


    .rangeslider__fill {
        background: linear-gradient(to right, #48def9 0%,#38b2c7 48%,#a4f2fe 50%,#38b2c7 52%,#38b2c7 100%);
        border-radius: 4px;
        width: 100%;
        bottom: 0;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      left: -4px;

      &:active {
      }
    }
  }
}

.metal-slider-3
{
    background-color: #bdbdbd;
    border-radius: 8px;

  &.rangeslider-horizontal {
    margin: 5px 0;
    height: 10px;

    box-shadow: inset -1px 1px 1px 1px #5d5d5d;

    .rangeslider__fill {
        box-shadow: inset -1px 1px 1px 1px #4aa049;
        background-color: #87c886;
        border-radius: 4px;
        height: 100%;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      top: -5px;

      &:active{
      }
    }
  }
  &.rangeslider-vertical {
    margin: 0 4px;
    width: 10px;
    box-shadow: inset -1px 1px 1px 1px #5d5d5d;


    .rangeslider__fill {
        box-shadow: inset -1px 1px 1px 1px #4aa049;
        background-color: #87c886;
        border-radius: 4px;
        
        width: 100%;
        bottom: 0;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      left: -4px;

      &:active {
      }
    }
  }
}
