.superslider-wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10000;

    &:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

/**
theme templates

.theme-name
{
	&.rangeslider-horizontal {
	   .rangeslider__fill {
	   }
	   .rangeslider__handle {
			&:active{
			}
	   }
	}

	&.rangeslider-vertical {
	   .rangeslider__fill {
	   }
	   .rangeslider__handle {
		   &:active {
		   }
	   }
	}
}
*/

/**
 * Rangeslider
 */
.rangeslider {
  position: relative;

  &.rangeslider-horizontal {
      min-width: 60px;
  }
  &.rangeslider-vertical {
    height: 100%;
    min-height: 60px;
  }
  .rangeslider__fill, .rangeslider__handle, .rangeslider__tracker {
  	position: absolute;
  }

  &.rangeslider-vertical, &.rangeslider-horizontal {
      &:before {
          z-index: 2;
      }
  }
  &, .rangeslider__fill {
  	display: block;
    z-index: 1;
  }
  .rangeslider__handle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 3;
    &:active {
    }
  }
}

.default
{
  &.rangeslider-horizontal
  {
    height: 20px;
    .rangeslider__fill {
      height: 100%;
      background: #27ae60;
      border-radius: 10px;
      top: 0;
    }
    .rangeslider__tracker {
        right: 0;
        height: 100%;
        left: 0;
        border-radius: 10px;
        box-shadow: inset 0 1px 1px 1px #ccc;
    }
    .rangeslider__handle {
      background: #eee;
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      top: -10px;
      &:active {
      }
    }
  }

  &.rangeslider-vertical
  {
    margin: 0px auto;
    width: 10px;
    background: none;
    .rangeslider__fill {
      width: 100%;
      background: #27ae60;
      box-shadow: none;
      bottom: 0;
    }
    .rangeslider__tracker {
        box-shadow: inset 0 1px 1px 1px #ccc;
        bottom: 0;
        width: 100%;
        top: 0;
    }
    .rangeslider__handle {
      background: #eee;
      border: 1px solid #ccc;
      width: 30px;
      height: 10px;
      left: -10px;
      &:active {
          box-shadow: none;
      }
    }
  }
}

.metal-slider-1
{
  &.rangeslider-horizontal
  {
    &:before
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-image: url(https://ooo.0o0.ooo/2016/07/22/5791ef7a09271.png) 10 9 stretch;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
    }

    margin: 2px 0;
    height: 20px;
    border-radius: 10px;

    .rangeslider__fill, .rangeslider__tracker {
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;

        border-radius: 10px;
    }
    .rangeslider__fill {
        background: linear-gradient(to right, #a4a8da 0%,#2648a2 100%);
    }
    .rangeslider__tracker {
        background: #eee;
    }
    .rangeslider__handle {
        width: 22px;
        height: 24px;
        background: url(./images/slider1-thumb.png) no-repeat;
        background-size: cover;
        top: -2px;
    }
  }

  &.rangeslider-vertical
  {
    margin: 0 1px;
    width: 20px;
    border-radius: 10px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-image: url(https://ooo.0o0.ooo/2016/07/22/5791e8150a3f9.png) 9 10 stretch;

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .rangeslider__fill, .rangeslider__tracker {
        border-radius: 10px;
        right: 3px;
        left: 3px;
        bottom: 3px;

    }
    .rangeslider__fill {
        background: linear-gradient(to top, #a4a8da 0%,#2648a2 100%);
    }
    .rangeslider__tracker {
        background-color: #eee;
        top: 3px;

    }
    .rangeslider__handle {
        width: 22px;
        height: 24px;
        background: url(./images/slider1-thumb.png) no-repeat;
        background-size: cover;
        border: none;

        left: -1px;
    }
  }
}

.metal-slider-2
{
  &.rangeslider-horizontal {
    margin: 5px 0;
    height: 10px;

    .rangeslider__fill {
        background-color: #38b2c7;
        border-radius: 4px;
        height: 100%;
    }
    .rangeslider__tracker {
        background-color: #616161;
        border-radius: 4px;
        height: 100%;
        right: 0;
        left: 0;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      top: -5px;
    }
  }
  &.rangeslider-vertical {
    margin: 0 4px;
    width: 10px;
    background: none;

    .rangeslider__fill {
        background-color: #38b2c7;
        border-radius: 4px;
        width: 100%;
        bottom: 0;
    }
    .rangeslider__tracker {
        background-color: #616161;
        border-radius: 4px;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      left: -4px;
    }
  }
}

.metal-slider-3
{
    background-color: #bdbdbd;
    border-radius: 8px;

  &.rangeslider-horizontal {
    margin: 5px 0;
    height: 10px;

    box-shadow: inset 0 1px 1px 0px #5d5d5d, inset -1px 1px 1px 0px #5d5d5d;

    .rangeslider__fill {
        box-shadow: inset 0 1px 1px 1px #4aa049;
        background-color: #87c886;
        border-radius: 4px;
        height: 100%;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      top: -5px;

      &:active{
      }
    }
  }
  &.rangeslider-vertical {
    margin: 0 4px;
    width: 10px;
    box-shadow: inset 0 1px 1px 0px #5d5d5d, inset 0 -1px 1px 0px #5d5d5d;

    .rangeslider__fill {
        box-shadow: inset 0 0 1px 1px #4aa049;
        background-color: #87c886;
        border-radius: 4px;

        width: 100%;
        bottom: 0;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(./images/slider2-thumb.png) no-repeat;
      background-size: cover;

      left: -4px;

      &:active {
      }
    }
  }
}
