*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;

  overflow-x: hidden;
}

.superslider-wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10000;

    &:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

/**
theme templates

.theme-name
{
	&.rangeslider-horizontal {
	   .rangeslider__fill {
	   }
	   .rangeslider__handle {
			&:active{
			}
	   }
	}

	&.rangeslider-vertical {
	   .rangeslider__fill {
	   }
	   .rangeslider__handle {
		   &:active {
		   }
	   }
	}
}
*/

/**
 * Rangeslider
 */
.rangeslider {
  position: relative;

  &.rangeslider-horizontal {
      .rangeslider__fill {
          height: 100%;
          top: 0;
      }
  }
  &.rangeslider-vertical {
    height: 100%;
    min-height: 60px;
    .rangeslider__fill {
        width: 100%;
        bottom: 0;
    }
  }
  .rangeslider__fill, .rangeslider__handle {
  	position: absolute;
  }

  &, .rangeslider__fill {
  	display: block;
  	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .rangeslider__handle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    &:active {
    }
  }
}

.default
{
  &.rangeslider-horizontal
  {
    height: 20px;
    border-radius: 10px;
    .rangeslider__fill {
      height: 100%;
      background: #27ae60;
      border-radius: 10px;
      top: 0;
    }

    .rangeslider__handle {
      background: #eee;
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      top: -10px;
      &:active {
      }
    }
  }

  &.rangeslider-vertical
  {
    margin: 0px auto;
    width: 10px;
    background: none;
    .rangeslider__fill {
      width: 100%;
      background: #27ae60;
      box-shadow: none;
      bottom: 0;
    }

    .rangeslider__handle {
      background: #eee;
      border: 1px solid #ccc;
      width: 30px;
      height: 10px;
      left: -10px;
      &:active {
          box-shadow: none;
      }
    }
  }
}

.metal-slider-1
{
  &.rangeslider-horizontal
  {
    margin: 5px 0;

    height: 14px;
    border-radius: 10px;
    background-color: #bdbdbd;

    .rangeslider__fill {
        background: linear-gradient(to top, #a4a8da 0%,#2648a2 100%);
        border-radius: 10px;
    }

    .rangeslider__handle {
      width: 22px;
      height: 24px;
      background: url(https://ooo.0o0.ooo/2016/07/18/578caa762953e.png) no-repeat;
      background-size: cover;
      top: -5px;
      &:active {
      }
    }
  }

  &.rangeslider-vertical
  {
    margin: 0 4px;
    width: 14px;
    border-radius: 10px;
    background-color: #bdbdbd;

    .rangeslider__fill {
        background: linear-gradient(to top, #a4a8da 0%,#2648a2 100%);
        border-radius: 10px;
    }

    .rangeslider__handle {
      width: 22px;
      height: 24px;
      background: url(https://ooo.0o0.ooo/2016/07/18/578caa762953e.png) no-repeat;
      background-size: cover;
      border: none;

      left: -4px;

      &:active {
      }
    }
  }
}

.metal-slider-2
{
  &.rangeslider-horizontal {
    margin: 5px 0;
    height: 10px;

    background-color: #565656;
    border-radius: 8px;

    .rangeslider__fill {
        background: linear-gradient(to top, #3abfd5 0%,#ace8f1 100%);
        border-radius: 8px;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(https://ooo.0o0.ooo/2016/07/18/578c968d5ac35.png) no-repeat;
      background-size: cover;

      top: -5px;

      &:active{
      }
    }
  }
  &.rangeslider-vertical {
    margin: 0 4px;
    width: 10px;
    background: none;

    background-color: #565656;
    border-radius: 8px;


    .rangeslider__fill {
        background: linear-gradient(to top, #3abfd5 0%,#ace8f1 100%);
        border-radius: 8px;
    }
    .rangeslider__handle {
      width: 18px;
      height: 20px;
      background: url(https://ooo.0o0.ooo/2016/07/18/578c968d5ac35.png) no-repeat;
      background-size: cover;

      left: -4px;

      &:active {
      }
    }
  }
}
