body
{
    background-color: #efefef;
}


.container
{
    display: flex;
    align-items: stretch;

  height: 400px;
}

.row-fixed
{
    width: 200px;
    height: 100px;

  background-color: #ddd;
}
.row-grow
{
    flex-grow: 1;

  background-color: #ccc;
}




 /*react transition example*/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/*react transition example*/
